In [3]:
import pandas as pd 
import numpy as np

In [ ]:
df=pd.read_csv("Training.csv")
print(df.head(-5))

In [ ]:
print(df.columns)

In [ ]:
df['Id'].head(-5)

In [ ]:
df["Idm"]=""
df["Name"]=""

In [ ]:
for i in range(len(df)):
    df["Idm"][i],df["Name"][i]=df["Id"][i].split("_")[0],df["Id"][i].split("_")[1]

In [ ]:
df["Name"][78].split("_")[0]

In [ ]:
df.columns

In [ ]:
df2=pd.read_csv("Matches IPL 2008-2019.csv")
df2.head()
print(df.Idm[0])

In [ ]:
if df2["match_id"].any()==int(df.Idm[0]):
    print(df2["team1"],df2["team2"])
else:
    print("missing")

In [ ]:
train=pd.DataFrame()
train['id']=df['Idm']
train['name']=df['Name']
#train['score']=df['Total Points']
train.head()

In [ ]:
print(df2.columns)
train["team1"]=""
train["team2"]=""
train["venue"]=""

In [ ]:
for i in range(len(df)):
    for j in range(len(df2)):
        if int(train['id'][i])==int(df2["match_id"][j]):
            print(i,j)
            train["venue"][i]=df2["venue"][j]
            train['team1'][i]=df2['team1'][j]
train['score']=df['Total Points']
train.head()

In [ ]:
train.to_csv("ipltrain"+".csv")

In [4]:
i20=pd.read_csv("Matches IPL 2020.csv")
i20.head()

,match_id,city,date,team1,team2,venue,umpire1,umpire2,umpire3
0,1216492,Abu Dhabi,9/19/2020,MI,CSK,"Sheikh Zayed Stadium, Abu Dhabi",Chris Gaffaney,Virender Sharma,Sundaram Ravi
1,1216493,Dubai (DSC),9/20/2020,DC,KXIP,Dubai International Cricket Stadium,Anil Chaudhary,Nitin Menon,Paul Reiffel
2,1216534,Dubai (DSC),9/21/2020,SRH,RCB,Dubai International Cricket Stadium,Anil Dandekar,Nitin Menon,Anil Chaudhary
3,1216496,Sharjah,9/22/2020,RR,CSK,Sharjah Cricket Stadium,Chettithody Shamshuddin,Vineet Kulkarni,KN Ananthapadmanabhan
4,1216508,Abu Dhabi,9/23/2020,KKR,MI,"Sheikh Zayed Stadium, Abu Dhabi",Chris Gaffaney,Sundaram Ravi,Virender Sharma

In [5]:
submit=pd.read_csv("sample_submission.csv")
print(i20.team1.unique())
i20.team1.nunique()

['MI' 'DC' 'SRH' 'RR' 'KKR' 'KXIP' 'CSK' 'RCB']

8

In [6]:
train=pd.read_csv("ipltrain.csv")
print(train.team1.unique())
train.team1.nunique()

['Sunrisers Hyderabad' 'Mumbai Indians' 'Gujarat Lions'
 'Rising Pune Supergiant' 'Royal Challengers Bangalore'
 'Kolkata Knight Riders' 'Delhi Daredevils' 'Kings XI Punjab'
 'Chennai Super Kings' 'Rajasthan Royals' 'Deccan Chargers'
 'Kochi Tuskers Kerala' 'Pune Warriors' 'Rising Pune Supergiants'
 'Delhi Capitals']

15

In [7]:
for i in range(len(i20)):
    if i20['team1'][i]=="MI":
        i20['team1'][i]='Mumbai Indians'
    elif i20['team1'][i]=="DC":
        i20['team1'][i]='Delhi Daredevils'
    elif i20['team1'][i]=="SRH":
        i20['team1'][i]='Sunrisers Hyderabad'
    elif i20['team1'][i]=="RR":
        i20['team1'][i]='Rajasthan Royals'
    elif i20['team1'][i]=="KKR":
        i20['team1'][i]='Kolkata Knight Riders'
    elif i20['team1'][i]=="KXIP":
        i20['team1'][i]='Kings XI Punjab'
    elif i20['team1'][i]=="CSK":
        i20['team1'][i]='Chennai Super Kings'
    elif i20['team1'][i]=="RCB":
        i20['team1'][i]='Royal Challengers Bangalore'
print(i20.team1.unique())
i20.team1.nunique()

['Mumbai Indians' 'Delhi Daredevils' 'Sunrisers Hyderabad'
 'Rajasthan Royals' 'Kolkata Knight Riders' 'Kings XI Punjab'
 'Chennai Super Kings' 'Royal Challengers Bangalore']

8

In [8]:
for i in range(len(i20)):
    if i20['team2'][i]=="MI":
        i20['team2'][i]='Mumbai Indians'
    elif i20['team2'][i]=="DC":
        i20['team2'][i]='Delhi Daredevils'
    elif i20['team2'][i]=="SRH":
        i20['team2'][i]='Sunrisers Hyderabad'
    elif i20['team2'][i]=="RR":
        i20['team2'][i]='Rajasthan Royals'
    elif i20['team2'][i]=="KKR":
        i20['team2'][i]='Kolkata Knight Riders'
    elif i20['team2'][i]=="KXIP":
        i20['team2'][i]='Kings XI Punjab'
    elif i20['team2'][i]=="CSK":
        i20['team2'][i]='Chennai Super Kings'
    elif i20['team2'][i]=="RCB":
        i20['team2'][i]='Royal Challengers Bangalore'
print(i20.team2.unique())
i20.team2.nunique()

['Chennai Super Kings' 'Kings XI Punjab' 'Royal Challengers Bangalore'
 'Mumbai Indians' 'Delhi Daredevils' 'Sunrisers Hyderabad'
 'Kolkata Knight Riders' 'Rajasthan Royals']

8

In [ ]:
test=pd.DataFrame()