In [59]:
import pandas as pd 
import numpy as np

In [60]:
df=pd.read_csv("Training.csv")
print(df.head(-5))

                         Id  Runs  Boundaries  Six  Fifty  Hundred  Duck  \
0            1_Bipul Sharma     0           0    0      0        0     0
1                1_DJ Hooda    16           1    1      0        0     0
2               1_KM Jadhav    31           5    1      0        0     0
3           1_Mandeep Singh    24           5    0      0        0     0
4            1_Yuvraj Singh    62          10    3      1        0     0
...                     ...   ...         ...  ...    ...      ...   ...
15906       11415_RD Chahar     0           0    0      0        0     1
15907       11415_JJ Bumrah     0           0    0      0        0     0
15908       11415_SR Watson    84          12    4      1        0     0
15909  11415_MJ McClenaghan     0           0    0      0        0     1
15910      11415_SL Malinga     0           0    0      0        0     0

       Batting_Points  Wickets  4W_Haul  5W_Haul  Maidens  Bowling_Points  \
0                   0        1        0        0        0              25
1                  19        1        0        0        0              25
2                  38        0        0        0        0               0
3                  29        0        0        0        0               0
4                  86        0        0        0        0               0
...               ...      ...      ...      ...      ...             ...
15906              -2        1        0        0        0              25
15907               0        2        0        0        0              50
15908             112        0        0        0        0               0
15909              -2        0        0        0        0               0
15910               0        1        0        0        0              25

       Total Points
0                25
1                44
2                38
3                29
4                86
...             ...
15906            23
15907            50
15908           112
15909            -2
15910            25

[15911 rows x 14 columns]

In [61]:
print(df.columns)

Index(['Id', 'Runs', 'Boundaries', 'Six', 'Fifty', 'Hundred', 'Duck',
       'Batting_Points', 'Wickets', '4W_Haul', '5W_Haul', 'Maidens',
       'Bowling_Points', 'Total Points'],
      dtype='object')

In [62]:
df['Id'].head(-5)

0              1_Bipul Sharma
1                  1_DJ Hooda
2                 1_KM Jadhav
3             1_Mandeep Singh
4              1_Yuvraj Singh
                 ...
15906         11415_RD Chahar
15907         11415_JJ Bumrah
15908         11415_SR Watson
15909    11415_MJ McClenaghan
15910        11415_SL Malinga
Name: Id, Length: 15911, dtype: object

In [63]:
df["Idm"]=""
df["Name"]=""

In [64]:
for i in range(len(df)):
    df["Idm"][i],df["Name"][i]=df["Id"][i].split("_")[0],df["Id"][i].split("_")[1]

In [65]:
df["Name"][78].split("_")[0]

'AM Rahane'

In [66]:
df.columns

Index(['Id', 'Runs', 'Boundaries', 'Six', 'Fifty', 'Hundred', 'Duck',
       'Batting_Points', 'Wickets', '4W_Haul', '5W_Haul', 'Maidens',
       'Bowling_Points', 'Total Points', 'Idm', 'Name'],
      dtype='object')

In [67]:
df2=pd.read_csv("Matches IPL 2008-2019.csv")
df2.head()
print(df.Idm[0])

1

In [68]:
train=pd.DataFrame()
train['id']=df['Idm']
train['name']=df['Name']
#train['score']=df['Total Points']
train.head()

  id           name
0  1   Bipul Sharma
1  1       DJ Hooda
2  1      KM Jadhav
3  1  Mandeep Singh
4  1   Yuvraj Singh

In [69]:
print(df2.columns)
train["team1"]=""
train["team2"]=""
train["venue"]=""

Index(['match_id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [70]:
for i in range(len(df)):
    for j in range(len(df2)):
        if int(train['id'][i])==int(df2["match_id"][j]):
            print(i,j)
            train["venue"][i]=df2["venue"][j]
            train['team1'][i]=df2['team1'][j]
            train['team2'][i]=df2['team2'][j]
train['score']=df['Total Points']
train.head()

13916 662
13917 662
13918 662
13919 662
13920 662
13921 662
13922 662
13923 662
13924 662
13925 662
13926 662
13927 662
13928 662
13929 662
13930 662
13931 662
13932 662
13933 662
13934 663
13935 663
13936 663
13937 663
13938 663
13939 663
13940 663
13941 663
13942 663
13943 663
13944 663
13945 663
13946 663
13947 663
13948 663
13949 663
13950 663
13951 663
13952 663
13953 663
13954 663
13955 663
13956 664
13957 664
13958 664
13959 664
13960 664
13961 664
13962 664
13963 664
13964 664
13965 664
13966 664
13967 664
13968 664
13969 664
13970 664
13971 664
13972 664
13973 664
13974 664
13975 664
13976 664
13977 664
13978 665
13979 665
13980 665
13981 665
13982 665
13983 665
13984 665
13985 665
13986 665
13987 665
13988 665
13989 665
13990 665
13991 665
13992 665
13993 665
13994 665
13995 665
13996 665
13997 665
13998 665
13999 666
14000 666
14001 666
14002 666
14003 666
14004 666
14005 666
14006 666
14007 666
14008 666
14009 666
14010 666
14011 666
14012 666
14013 666
14014 666
14015 666
14016 666
14017 666
14018 666
14019 666
14020 666
14021 667
14022 667
14023 667
14024 667
14025 667
14026 667
14027 667
14028 667
14029 667
14030 667
14031 667
14032 667
14033 667
14034 667
14035 667
14036 667
14037 667
14038 667
14039 667
14040 667
14041 667
14042 668
14043 668
14044 668
14045 668
14046 668
14047 668
14048 668
14049 668
14050 668
14051 668
14052 668
14053 668
14054 668
14055 668
14056 668
14057 668
14058 668
14059 668
14060 668
14061 668
14062 668
14063 668
14064 669
14065 669
14066 669
14067 669
14068 669
14069 669
14070 669
14071 669
14072 669
14073 669
14074 669
14075 669
14076 669
14077 669
14078 669
14079 669
14080 669
14081 669
14082 669
14083 669
14084 669
14085 669
14086 670
14087 670
14088 670
14089 670
14090 670
14091 670
14092 670
14093 670
14094 670
14095 670
14096 670
14097 670
14098 670
14099 670
14100 670
14101 670
14102 670
14103 670
14104 670
14105 670
14106 670
14107 670
14108 671
14109 671
14110 671
14111 671
14112 671
14113 671
14114 671
14115 671
14116 671
14117 671
14118 671
14119 671
14120 671
14121 671
14122 671
14123 671
14124 671
14125 671
14126 671
14127 671
14128 671
14129 672
14130 672
14131 672
14132 672
14133 672
14134 672
14135 672
14136 672
14137 672
14138 672
14139 672
14140 672
14141 672
14142 672
14143 672
14144 672
14145 672
14146 672
14147 672
14148 672
14149 672
14150 673
14151 673
14152 673
14153 673
14154 673
14155 673
14156 673
14157 673
14158 673
14159 673
14160 673
14161 673
14162 673
14163 673
14164 673
14165 673
14166 673
14167 673
14168 673
14169 673
14170 673
14171 674
14172 674
14173 674
14174 674
14175 674
14176 674
14177 674
14178 674
14179 674
14180 674
14181 674
14182 674
14183 674
14184 674
14185 674
14186 674
14187 674
14188 674
14189 674
14190 674
14191 674
14192 674
14193 675
14194 675
14195 675
14196 675
14197 675
14198 675
14199 675
14200 675
14201 675
14202 675
14203 675
14204 675
14205 675
14206 675
14207 675
14208 675
14209 675
14210 675
14211 675
14212 675
14213 675
14214 675
14215 676
14216 676
14217 676
14218 676
14219 676
14220 676
14221 676
14222 676
14223 676
14224 676
14225 676
14226 676
14227 676
14228 676
14229 676
14230 676
14231 676
14232 676
14233 676
14234 676
14235 676
14236 676
14237 677
14238 677
14239 677
14240 677
14241 677
14242 677
14243 677
14244 677
14245 677
14246 677
14247 677
14248 677
14249 677
14250 677
14251 677
14252 677
14253 677
14254 677
14255 677
14256 678
14257 678
14258 678
14259 678
14260 678
14261 678
14262 678
14263 678
14264 678
14265 678
14266 678
14267 678
14268 678
14269 678
14270 678
14271 678
14272 678
14273 678
14274 678
14275 678
14276 678
14277 678
14278 679
14279 679
14280 679
14281 679
14282 679
14283 679
14284 679
14285 679
14286 679
14287 679
14288 679
14289 679
14290 679
14291 679
14292 679
14293 679
14294 679
14295 679
14296 679
14297 679
14298 679
14299 679
14300 680
14301 680
14302 680
14303 680
14304 680
14305 680
14306 680
14307 680
14308 680
14309 680
14310 680
14311 680
14312 680
14313 680
14314 680
14315 680
14316 680
14317 680
14318 680
14319 680
14320 680
14321 680
14322 681
14323 681
14324 681
14325 681
14326 681
14327 681
14328 681
14329 681
14330 681
14331 681
14332 681
14333 681
14334 681
14335 681
14336 681
14337 681
14338 681
14339 681
14340 681
14341 681
14342 682
14343 682
14344 682
14345 682
14346 682
14347 682
14348 682
14349 682
14350 682
14351 682
14352 682
14353 682
14354 682
14355 682
14356 682
14357 682
14358 682
14359 682
14360 682
14361 682
14362 682
14363 683
14364 683
14365 683
14366 683
14367 683
14368 683
14369 683
14370 683
14371 683
14372 683
14373 683
14374 683
14375 683
14376 683
14377 683
14378 683
14379 683
14380 683
14381 683
14382 684
14383 684
14384 684
14385 684
14386 684
14387 684
14388 684
14389 684
14390 684
14391 684
14392 684
14393 684
14394 684
14395 684
14396 684
14397 684
14398 684
14399 684
14400 684
14401 684
14402 685
14403 685
14404 685
14405 685
14406 685
14407 685
14408 685
14409 685
14410 685
14411 685
14412 685
14413 685
14414 685
14415 685
14416 685
14417 685
14418 685
14419 685
14420 685
14421 685
14422 685
14423 685
14424 686
14425 686
14426 686
14427 686
14428 686
14429 686
14430 686
14431 686
14432 686
14433 686
14434 686
14435 686
14436 686
14437 686
14438 686
14439 686
14440 686
14441 686
14442 686
14443 686
14444 686
14445 687
14446 687
14447 687
14448 687
14449 687
14450 687
14451 687
14452 687
14453 687
14454 687
14455 687
14456 687
14457 687
14458 687
14459 687
14460 687
14461 687
14462 687
14463 687
14464 687
14465 687
14466 687
14467 688
14468 688
14469 688
14470 688
14471 688
14472 688
14473 688
14474 688
14475 688
14476 688
14477 688
14478 688
14479 688
14480 688
14481 688
14482 688
14483 688
14484 688
14485 688
14486 688
14487 688
14488 689
14489 689
14490 689
14491 689
14492 689
14493 689
14494 689
14495 689
14496 689
14497 689
14498 689
14499 689
14500 689
14501 689
14502 689
14503 689
14504 689
14505 689
14506 689
14507 689
14508 689
14509 689
14510 690
14511 690
14512 690
14513 690
14514 690
14515 690
14516 690
14517 690
14518 690
14519 690
14520 690
14521 690
14522 690
14523 690
14524 690
14525 690
14526 690
14527 690
14528 690
14529 690
14530 690
14531 690
14532 691
14533 691
14534 691
14535 691
14536 691
14537 691
14538 691
14539 691
14540 691
14541 691
14542 691
14543 691
14544 691
14545 691
14546 691
14547 691
14548 691
14549 691
14550 691
14551 691
14552 691
14553 691
14554 692
14555 692
14556 692
14557 692
14558 692
14559 692
14560 692
14561 692
14562 692
14563 692
14564 692
14565 692
14566 692
14567 692
14568 692
14569 692
14570 692
14571 692
14572 692
14573 692
14574 692
14575 692
14576 693
14577 693
14578 693
14579 693
14580 693
14581 693
14582 693
14583 693
14584 693
14585 693
14586 693
14587 693
14588 693
14589 693
14590 693
14591 693
14592 693
14593 693
14594 693
14595 693
14596 693
14597 693
14598 694
14599 694
14600 694
14601 694
14602 694
14603 694
14604 694
14605 694
14606 694
14607 694
14608 694
14609 694
14610 694
14611 694
14612 694
14613 694
14614 694
14615 694
14616 694
14617 694
14618 694
14619 694
14620 695
14621 695
14622 695
14623 695
14624 695
14625 695
14626 695
14627 695
14628 695
14629 695
14630 695
14631 695
14632 695
14633 695
14634 695
14635 695
14636 695
14637 695
14638 695
14639 695
14640 695
14641 696
14642 696
14643 696
14644 696
14645 696
14646 696
14647 696
14648 696
14649 696
14650 696
14651 696
14652 696
14653 696
14654 696
14655 696
14656 696
14657 696
14658 696
14659 696
14660 696
14661 697
14662 697
14663 697
14664 697
14665 697
14666 697
14667 697
14668 697
14669 697
14670 697
14671 697
14672 697
14673 697
14674 697
14675 697
14676 697
14677 697
14678 697
14679 697
14680 697
14681 697
14682 698
14683 698
14684 698
14685 698
14686 698
14687 698
14688 698
14689 698
14690 698
14691 698
14692 698
14693 698
14694 698
14695 698
14696 698
14697 698
14698 698
14699 698
14700 698
14701 698
14702 698
14703 698
14704 699
14705 699
14706 699
14707 699
14708 699
14709 699
14710 699
14711 699
14712 699
14713 699
14714 699
14715 699
14716 699
14717 699
14718 699
14719 699
14720 699
14721 699
14722 699
14723 699
14724 699
14725 699
14726 700
14727 700
14728 700
14729 700
14730 700
14731 700
14732 700
14733 700
14734 700
14735 700
14736 700
14737 700
14738 700
14739 700
14740 700
14741 700
14742 700
14743 700
14744 700
14745 700
14746 700
14747 700
14748 701
14749 701
14750 701
14751 701
14752 701
14753 701
14754 701
14755 701
14756 701
14757 701
14758 701
14759 701
14760 701
14761 701
14762 701
14763 701
14764 701
14765 701
14766 701
14767 701
14768 701
14769 702
14770 702
14771 702
14772 702
14773 702
14774 702
14775 702
14776 702
14777 702
14778 702
14779 702
14780 702
14781 702
14782 702
14783 702
14784 702
14785 702
14786 702
14787 702
14788 702
14789 702
14790 702
14791 703
14792 703
14793 703
14794 703
14795 703
14796 703
14797 703
14798 703
14799 703
14800 703
14801 703
14802 703
14803 703
14804 703
14805 703
14806 703
14807 703
14808 703
14809 703
14810 703
14811 704
14812 704
14813 704
14814 704
14815 704
14816 704
14817 704
14818 704
14819 704
14820 704
14821 704
14822 704
14823 704
14824 704
14825 704
14826 704
14827 704
14828 704
14829 704
14830 704
14831 705
14832 705
14833 705
14834 705
14835 705
14836 705
14837 705
14838 705
14839 705
14840 705
14841 705
14842 705
14843 705
14844 705
14845 705
14846 705
14847 705
14848 705
14849 705
14850 705
14851 705
14852 705
14853 706
14854 706
14855 706
14856 706
14857 706
14858 706
14859 706
14860 706
14861 706
14862 706
14863 706
14864 706
14865 706
14866 706
14867 706
14868 706
14869 706
14870 706
14871 706
14872 706
14873 707
14874 707
14875 707
14876 707
14877 707
14878 707
14879 707
14880 707
14881 707
14882 707
14883 707
14884 707
14885 707
14886 707
14887 707
14888 707
14889 707
14890 707
14891 707
14892 707
14893 707
14894 707
14895 708
14896 708
14897 708
14898 708
14899 708
14900 708
14901 708
14902 708
14903 708
14904 708
14905 708
14906 708
14907 708
14908 708
14909 708
14910 708
14911 708
14912 708
14913 708
14914 708
14915 708
14916 708
14917 709
14918 709
14919 709
14920 709
14921 709
14922 709
14923 709
14924 709
14925 709
14926 709
14927 709
14928 709
14929 709
14930 709
14931 709
14932 709
14933 709
14934 709
14935 709
14936 709
14937 709
14938 710
14939 710
14940 710
14941 710
14942 710
14943 710
14944 710
14945 710
14946 710
14947 710
14948 710
14949 710
14950 710
14951 710
14952 710
14953 710
14954 710
14955 710
14956 710
14957 710
14958 710
14959 710
14960 711
14961 711
14962 711
14963 711
14964 711
14965 711
14966 711
14967 711
14968 711
14969 711
14970 711
14971 711
14972 711
14973 711
14974 711
14975 711
14976 711
14977 711
14978 711
14979 711
14980 711
14981 711
14982 712
14983 712
14984 712
14985 712
14986 712
14987 712
14988 712
14989 712
14990 712
14991 712
14992 712
14993 712
14994 712
14995 712
14996 712
14997 712
14998 712
14999 712
15000 712
15001 712
15002 712
15003 713
15004 713
15005 713
15006 713
15007 713
15008 713
15009 713
15010 713
15011 713
15012 713
15013 713
15014 713
15015 713
15016 713
15017 713
15018 713
15019 713
15020 713
15021 713
15022 713
15023 713
15024 714
15025 714
15026 714
15027 714
15028 714
15029 714
15030 714
15031 714
15032 714
15033 714
15034 714
15035 714
15036 714
15037 714
15038 714
15039 714
15040 714
15041 714
15042 714
15043 714
15044 714
15045 714
15046 715
15047 715
15048 715
15049 715
15050 715
15051 715
15052 715
15053 715
15054 715
15055 715
15056 715
15057 715
15058 715
15059 715
15060 715
15061 715
15062 715
15063 715
15064 715
15065 715
15066 715
15067 715
15068 716
15069 716
15070 716
15071 716
15072 716
15073 716
15074 716
15075 716
15076 716
15077 716
15078 716
15079 716
15080 716
15081 716
15082 716
15083 716
15084 716
15085 716
15086 717
15087 717
15088 717
15089 717
15090 717
15091 717
15092 717
15093 717
15094 717
15095 717
15096 717
15097 717
15098 717
15099 717
15100 717
15101 717
15102 717
15103 717
15104 717
15105 717
15106 718
15107 718
15108 718
15109 718
15110 718
15111 718
15112 718
15113 718
15114 718
15115 718
15116 718
15117 718
15118 718
15119 718
15120 718
15121 718
15122 718
15123 718
15124 718
15125 718
15126 718
15127 719
15128 719
15129 719
15130 719
15131 719
15132 719
15133 719
15134 719
15135 719
15136 719
15137 719
15138 719
15139 719
15140 719
15141 719
15142 719
15143 719
15144 719
15145 719
15146 719
15147 719
15148 720
15149 720
15150 720
15151 720
15152 720
15153 720
15154 720
15155 720
15156 720
15157 720
15158 720
15159 720
15160 720
15161 720
15162 720
15163 720
15164 720
15165 720
15166 720
15167 720
15168 720
15169 720
15170 721
15171 721
15172 721
15173 721
15174 721
15175 721
15176 721
15177 721
15178 721
15179 721
15180 721
15181 721
15182 721
15183 721
15184 721
15185 721
15186 721
15187 721
15188 721
15189 721
15190 721
15191 722
15192 722
15193 722
15194 722
15195 722
15196 722
15197 722
15198 722
15199 722
15200 722
15201 722
15202 722
15203 722
15204 722
15205 722
15206 722
15207 722
15208 722
15209 722
15210 722
15211 722
15212 722
15213 723
15214 723
15215 723
15216 723
15217 723
15218 723
15219 723
15220 723
15221 723
15222 723
15223 723
15224 723
15225 723
15226 723
15227 723
15228 723
15229 723
15230 723
15231 723
15232 724
15233 724
15234 724
15235 724
15236 724
15237 724
15238 724
15239 724
15240 724
15241 724
15242 724
15243 724
15244 724
15245 724
15246 724
15247 724
15248 724
15249 724
15250 724
15251 724
15252 724
15253 724
15254 725
15255 725
15256 725
15257 725
15258 725
15259 725
15260 725
15261 725
15262 725
15263 725
15264 725
15265 725
15266 725
15267 725
15268 725
15269 725
15270 725
15271 725
15272 725
15273 725
15274 725
15275 725
15276 726
15277 726
15278 726
15279 726
15280 726
15281 726
15282 726
15283 726
15284 726
15285 726
15286 726
15287 726
15288 726
15289 726
15290 726
15291 726
15292 726
15293 726
15294 726
15295 726
15296 726
15297 726
15298 727
15299 727
15300 727
15301 727
15302 727
15303 727
15304 727
15305 727
15306 727
15307 727
15308 727
15309 727
15310 727
15311 727
15312 727
15313 727
15314 727
15315 727
15316 727
15317 727
15318 727
15319 727
15320 728
15321 728
15322 728
15323 728
15324 728
15325 728
15326 728
15327 728
15328 728
15329 728
15330 728
15331 728
15332 728
15333 728
15334 728
15335 728
15336 728
15337 728
15338 728
15339 728
15340 728
15341 728
15342 729
15343 729
15344 729
15345 729
15346 729
15347 729
15348 729
15349 729
15350 729
15351 729
15352 729
15353 729
15354 729
15355 729
15356 729
15357 729
15358 729
15359 729
15360 729
15361 729
15362 729
15363 729
15364 730
15365 730
15366 730
15367 730
15368 730
15369 730
15370 730
15371 730
15372 730
15373 730
15374 730
15375 730
15376 730
15377 730
15378 730
15379 730
15380 730
15381 730
15382 730
15383 730
15384 731
15385 731
15386 731
15387 731
15388 731
15389 731
15390 731
15391 731
15392 731
15393 731
15394 731
15395 731
15396 731
15397 731
15398 731
15399 731
15400 731
15401 731
15402 731
15403 731
15404 731
15405 731
15406 732
15407 732
15408 732
15409 732
15410 732
15411 732
15412 732
15413 732
15414 732
15415 732
15416 732
15417 732
15418 732
15419 732
15420 732
15421 732
15422 732
15423 732
15424 732
15425 732
15426 732
15427 732
15428 733
15429 733
15430 733
15431 733
15432 733
15433 733
15434 733
15435 733
15436 733
15437 733
15438 733
15439 733
15440 733
15441 733
15442 733
15443 733
15444 733
15445 733
15446 733
15447 734
15448 734
15449 734
15450 734
15451 734
15452 734
15453 734
15454 734
15455 734
15456 734
15457 734
15458 734
15459 734
15460 734
15461 734
15462 734
15463 734
15464 734
15465 734
15466 734
15467 734
15468 734
15469 735
15470 735
15471 735
15472 735
15473 735
15474 735
15475 735
15476 735
15477 735
15478 735
15479 735
15480 735
15481 735
15482 735
15483 735
15484 735
15485 735
15486 735
15487 735
15488 735
15489 735
15490 735
15491 736
15492 736
15493 736
15494 736
15495 736
15496 736
15497 736
15498 736
15499 736
15500 736
15501 736
15502 736
15503 736
15504 736
15505 736
15506 736
15507 736
15508 736
15509 736
15510 736
15511 737
15512 737
15513 737
15514 737
15515 737
15516 737
15517 737
15518 737
15519 737
15520 737
15521 737
15522 737
15523 737
15524 737
15525 737
15526 737
15527 737
15528 737
15529 737
15530 737
15531 737
15532 737
15533 738
15534 738
15535 738
15536 738
15537 738
15538 738
15539 738
15540 738
15541 738
15542 738
15543 738
15544 738
15545 738
15546 738
15547 738
15548 738
15549 738
15550 738
15551 738
15552 738
15553 738
15554 738
15555 739
15556 739
15557 739
15558 739
15559 739
15560 739
15561 739
15562 739
15563 739
15564 739
15565 739
15566 739
15567 739
15568 739
15569 739
15570 739
15571 739
15572 739
15573 739
15574 739
15575 739
15576 740
15577 740
15578 740
15579 740
15580 740
15581 740
15582 740
15583 740
15584 740
15585 740
15586 740
15587 740
15588 740
15589 740
15590 740
15591 740
15592 740
15593 740
15594 740
15595 740
15596 740
15597 740
15598 741
15599 741
15600 741
15601 741
15602 741
15603 741
15604 741
15605 741
15606 741
15607 741
15608 741
15609 741
15610 741
15611 741
15612 741
15613 741
15614 741
15615 741
15616 741
15617 741
15618 741
15619 741
15620 742
15621 742
15622 742
15623 742
15624 742
15625 742
15626 742
15627 742
15628 742
15629 742
15630 742
15631 742
15632 742
15633 742
15634 742
15635 742
15636 742
15637 742
15638 742
15639 743
15640 743
15641 743
15642 743
15643 743
15644 743
15645 743
15646 743
15647 743
15648 743
15649 743
15650 743
15651 743
15652 743
15653 743
15654 743
15655 743
15656 743
15657 743
15658 743
15659 743
15660 743
15661 744
15662 744
15663 744
15664 744
15665 744
15666 744
15667 744
15668 744
15669 744
15670 744
15671 744
15672 744
15673 744
15674 744
15675 744
15676 744
15677 744
15678 744
15679 745
15680 745
15681 745
15682 745
15683 745
15684 745
15685 745
15686 745
15687 745
15688 745
15689 745
15690 745
15691 745
15692 745
15693 745
15694 745
15695 745
15696 745
15697 745
15698 745
15699 745
15700 746
15701 746
15702 746
15703 746
15704 746
15705 746
15706 746
15707 746
15708 746
15709 746
15710 746
15711 746
15712 746
15713 746
15714 746
15715 746
15716 746
15717 746
15718 746
15719 746
15720 746
15721 746
15722 747
15723 747
15724 747
15725 747
15726 747
15727 747
15728 747
15729 747
15730 747
15731 747
15732 747
15733 747
15734 747
15735 747
15736 747
15737 747
15738 747
15739 747
15740 747
15741 747
15742 747
15743 748
15744 748
15745 748
15746 748
15747 748
15748 748
15749 748
15750 748
15751 748
15752 748
15753 748
15754 748
15755 748
15756 748
15757 748
15758 748
15759 748
15760 748
15761 748
15762 748
15763 748
15764 748
15765 749
15766 749
15767 749
15768 749
15769 749
15770 749
15771 749
15772 749
15773 749
15774 749
15775 749
15776 749
15777 749
15778 749
15779 749
15780 749
15781 749
15782 749
15783 749
15784 749
15785 749
15786 749
15787 750
15788 750
15789 750
15790 750
15791 750
15792 750
15793 750
15794 750
15795 750
15796 750
15797 750
15798 750
15799 750
15800 750
15801 750
15802 750
15803 750
15804 750
15805 750
15806 750
15807 750
15808 750
15809 751
15810 751
15811 751
15812 751
15813 751
15814 751
15815 751
15816 751
15817 751
15818 751
15819 751
15820 751
15821 751
15822 751
15823 751
15824 751
15825 751
15826 751
15827 751
15828 751
15829 752
15830 752
15831 752
15832 752
15833 752
15834 752
15835 752
15836 752
15837 752
15838 752
15839 752
15840 752
15841 752
15842 752
15843 752
15844 752
15845 752
15846 752
15847 752
15848 752
15849 752
15850 753
15851 753
15852 753
15853 753
15854 753
15855 753
15856 753
15857 753
15858 753
15859 753
15860 753
15861 753
15862 753
15863 753
15864 753
15865 753
15866 753
15867 753
15868 753
15869 753
15870 753
15871 753
15872 754
15873 754
15874 754
15875 754
15876 754
15877 754
15878 754
15879 754
15880 754
15881 754
15882 754
15883 754
15884 754
15885 754
15886 754
15887 754
15888 754
15889 754
15890 754
15891 754
15892 754
15893 754
15894 755
15895 755
15896 755
15897 755
15898 755
15899 755
15900 755
15901 755
15902 755
15903 755
15904 755
15905 755
15906 755
15907 755
15908 755
15909 755
15910 755
15911 755
15912 755
15913 755
15914 755
15915 755

,id,name,team1,team2,venue,score
0,1,Bipul Sharma,Sunrisers Hyderabad,Royal Challengers Bangalore,"Rajiv Gandhi International Stadium, Uppal",25
1,1,DJ Hooda,Sunrisers Hyderabad,Royal Challengers Bangalore,"Rajiv Gandhi International Stadium, Uppal",44
2,1,KM Jadhav,Sunrisers Hyderabad,Royal Challengers Bangalore,"Rajiv Gandhi International Stadium, Uppal",38
3,1,Mandeep Singh,Sunrisers Hyderabad,Royal Challengers Bangalore,"Rajiv Gandhi International Stadium, Uppal",29
4,1,Yuvraj Singh,Sunrisers Hyderabad,Royal Challengers Bangalore,"Rajiv Gandhi International Stadium, Uppal",86

In [71]:
#train.to_csv("ipltrain"+".csv")

In [72]:
i20=pd.read_csv("Matches IPL 2020.csv")
i20.head()

,match_id,city,date,team1,team2,venue,umpire1,umpire2,umpire3
0,1216492,Abu Dhabi,9/19/2020,MI,CSK,"Sheikh Zayed Stadium, Abu Dhabi",Chris Gaffaney,Virender Sharma,Sundaram Ravi
1,1216493,Dubai (DSC),9/20/2020,DC,KXIP,Dubai International Cricket Stadium,Anil Chaudhary,Nitin Menon,Paul Reiffel
2,1216534,Dubai (DSC),9/21/2020,SRH,RCB,Dubai International Cricket Stadium,Anil Dandekar,Nitin Menon,Anil Chaudhary
3,1216496,Sharjah,9/22/2020,RR,CSK,Sharjah Cricket Stadium,Chettithody Shamshuddin,Vineet Kulkarni,KN Ananthapadmanabhan
4,1216508,Abu Dhabi,9/23/2020,KKR,MI,"Sheikh Zayed Stadium, Abu Dhabi",Chris Gaffaney,Sundaram Ravi,Virender Sharma

In [73]:
submit=pd.read_csv("sample_submission.csv")
print(i20.team1.unique())
i20.team1.nunique()

['MI' 'DC' 'SRH' 'RR' 'KKR' 'KXIP' 'CSK' 'RCB']

8

In [74]:
train=pd.read_csv("ipltrain.csv")
print(train.team1.unique())
train.team1.nunique()

['Sunrisers Hyderabad' 'Mumbai Indians' 'Gujarat Lions'
 'Rising Pune Supergiant' 'Royal Challengers Bangalore'
 'Kolkata Knight Riders' 'Delhi Daredevils' 'Kings XI Punjab'
 'Chennai Super Kings' 'Rajasthan Royals' 'Deccan Chargers'
 'Kochi Tuskers Kerala' 'Pune Warriors' 'Rising Pune Supergiants'
 'Delhi Capitals']

15

In [75]:
for i in range(len(i20)):
    if i20['team1'][i]=="MI":
        i20['team1'][i]='Mumbai Indians'
    elif i20['team1'][i]=="DC":
        i20['team1'][i]='Delhi Daredevils'
    elif i20['team1'][i]=="SRH":
        i20['team1'][i]='Sunrisers Hyderabad'
    elif i20['team1'][i]=="RR":
        i20['team1'][i]='Rajasthan Royals'
    elif i20['team1'][i]=="KKR":
        i20['team1'][i]='Kolkata Knight Riders'
    elif i20['team1'][i]=="KXIP":
        i20['team1'][i]='Kings XI Punjab'
    elif i20['team1'][i]=="CSK":
        i20['team1'][i]='Chennai Super Kings'
    elif i20['team1'][i]=="RCB":
        i20['team1'][i]='Royal Challengers Bangalore'
print(i20.team1.unique())
i20.team1.nunique()

['Mumbai Indians' 'Delhi Daredevils' 'Sunrisers Hyderabad'
 'Rajasthan Royals' 'Kolkata Knight Riders' 'Kings XI Punjab'
 'Chennai Super Kings' 'Royal Challengers Bangalore']

8

In [82]:
for i in range(len(i20)):
    if i20['team2'][i]=="MI":
        i20['team2'][i]='Mumbai Indians'
    elif i20['team2'][i]=="DC":
        i20['team2'][i]='Delhi Daredevils'
    elif i20['team2'][i]=="SRH":
        i20['team2'][i]='Sunrisers Hyderabad'
    elif i20['team2'][i]=="RR":
        i20['team2'][i]='Rajasthan Royals'
    elif i20['team2'][i]=="KKR":
        i20['team2'][i]='Kolkata Knight Riders'
    elif i20['team2'][i]=="KXIP":
        i20['team2'][i]='Kings XI Punjab'
    elif i20['team2'][i]=="CSK":
        i20['team2'][i]='Chennai Super Kings'
    elif i20['team2'][i]=="RCB":
        i20['team2'][i]='Royal Challengers Bangalore'
print(i20.team2.unique())
i20.team2.nunique()

['Chennai Super Kings' 'Kings XI Punjab' 'Royal Challengers Bangalore'
 'Mumbai Indians' 'Delhi Daredevils' 'Sunrisers Hyderabad'
 'Kolkata Knight Riders' 'Rajasthan Royals']

8

In [83]:
test=pd.DataFrame()
submit.columns

Index(['Id', 'Total Points'], dtype='object')

In [111]:
test['id']=submit['Id']
test['idm']=""
test["name"]=""
test["venue"]=""
test["team1"]=""
test["team2"]=""

for i in range(len(submit)):
    d=test['id'][i].split("_")
    test["idm"][i]=d[0]
    test["name"][i]=d[1]
    for j in range(len(i20)):
        if int(test['idm'][i])==int(i20["match_id"][j]):
            print(i,j)
            test["venue"][i]=i20["venue"][j]
            test['team1'][i]=i20['team1'][j]
            test['team2'][i]=i20['team2'][j]

0 0
1 0
2 0
3 0
4 0
5 0
6 0
7 0
8 0
9 0
10 0
11 0
12 0
13 0
14 0
15 0
16 0
17 0
18 0
19 0
20 0
21 0
22 1
23 1
24 1
25 1
26 1
27 1
28 1
29 1
30 1
31 1
32 1
33 1
34 1
35 1
36 1
37 1
38 1
39 1
40 1
41 1
42 1
43 1
44 1
45 38
46 38
47 38
48 38
49 38
50 38
51 38
52 38
53 38
54 38
55 38
56 38
57 38
58 38
59 38
60 38
61 38
62 38
63 38
64 38
65 38
66 55
67 55
68 55
69 55
70 55
71 55
72 55
73 55
74 55
75 55
76 55
77 55
78 55
79 55
80 55
81 55
82 55
83 55
84 3
85 3
86 3
87 3
88 3
89 3
90 3
91 3
92 3
93 3
94 3
95 3
96 3
97 3
98 3
99 3
100 3
101 3
102 3
103 3
104 41
105 41
106 41
107 41
108 41
109 41
110 41
111 41
112 41
113 41
114 41
115 41
116 41
117 41
118 41
119 41
120 41
121 41
122 41
123 41
124 41
125 41
126 41
127 42
128 42
129 42
130 42
131 42
132 42
133 42
134 42
135 42
136 42
137 42
138 42
139 42
140 42
141 42
142 42
143 42
144 42
145 42
146 42
147 42
148 42
149 47
150 47
151 47
152 47
153 47
154 47
155 47
156 47
157 47
158 47
159 47
160 47
161 47
162 47
163 47
164 47
165 47
166 47
167 47
168 47
169 47
170 47
171 22
172 22
173 22
174 22
175 22
176 22
177 22
178 22
179 22
180 22
181 22
182 22
183 22
184 22
185 22
186 22
187 22
188 22
189 22
190 22
191 22
192 22
193 20
194 20
195 20
196 20
197 20
198 20
199 20
200 20
201 20
202 20
203 20
204 20
205 20
206 20
207 20
208 20
209 20
210 20
211 20
212 20
213 20
214 20
215 51
216 51
217 51
218 51
219 51
220 51
221 51
222 51
223 51
224 51
225 51
226 51
227 51
228 51
229 51
230 51
231 51
232 51
233 51
234 51
235 51
236 51
237 12
238 12
239 12
240 12
241 12
242 12
243 12
244 12
245 12
246 12
247 12
248 12
249 12
250 12
251 12
252 12
253 12
254 12
255 12
256 12
257 12
258 12
259 11
260 11
261 11
262 11
263 11
264 11
265 11
266 11
267 11
268 11
269 11
270 11
271 11
272 11
273 11
274 11
275 11
276 11
277 11
278 11
279 11
280 11
281 54
282 54
283 54
284 54
285 54
286 54
287 54
288 54
289 54
290 54
291 54
292 54
293 54
294 54
295 54
296 54
297 54
298 54
299 54
300 54
301 54
302 54
303 54
304 52
305 52
306 52
307 52
308 52
309 52
310 52
311 52
312 52
313 52
314 52
315 52
316 52
317 52
318 52
319 52
320 52
321 52
322 52
323 52
324 25
325 25
326 25
327 25
328 25
329 25
330 25
331 25
332 25
333 25
334 25
335 25
336 25
337 25
338 25
339 25
340 25
341 25
342 25
343 25
344 25
345 25
346 4
347 4
348 4
349 4
350 4
351 4
352 4
353 4
354 4
355 4
356 4
357 4
358 4
359 4
360 4
361 4
362 4
363 4
364 4
365 4
366 4
367 4
368 4
369 33
370 33
371 33
372 33
373 33
374 33
375 33
376 33
377 33
378 33
379 33
380 33
381 33
382 33
383 33
384 33
385 33
386 33
387 33
388 33
389 33
390 5
391 5
392 5
393 5
394 5
395 5
396 5
397 5
398 5
399 5
400 5
401 5
402 5
403 5
404 5
405 5
406 5
407 5
408 5
409 5
410 5
411 19
412 19
413 19
414 19
415 19
416 19
417 19
418 19
419 19
420 19
421 19
422 19
423 19
424 19
425 19
426 19
427 19
428 19
429 19
430 19
431 19
432 19
433 34
434 34
435 34
436 34
437 34
438 34
439 34
440 34
441 34
442 34
443 34
444 34
445 34
446 34
447 34
448 34
449 34
450 34
451 34
452 34
453 34
454 34
455 34
456 17
457 17
458 17
459 17
460 17
461 17
462 17
463 17
464 17
465 17
466 17
467 17
468 17
469 17
470 17
471 17
472 17
473 17
474 17
475 14
476 14
477 14
478 14
479 14
480 14
481 14
482 14
483 14
484 14
485 14
486 14
487 14
488 14
489 14
490 14
491 14
492 14
493 14
494 14
495 14
496 15
497 15
498 15
499 15
500 15
501 15
502 15
503 15
504 15
505 15
506 15
507 15
508 15
509 15
510 15
511 15
512 15
513 15
514 15
515 15
516 15
517 15
518 15
519 13
520 13
521 13
522 13
523 13
524 13
525 13
526 13
527 13
528 13
529 13
530 13
531 13
532 13
533 13
534 13
535 13
536 13
537 13
538 13
539 13
540 13
541 35
542 35
543 35
544 35
545 35
546 35
547 35
548 35
549 35
550 35
551 35
552 35
553 35
554 35
555 35
556 35
557 35
558 35
559 35
560 35
561 35
562 35
563 35
564 35
565 39
566 39
567 39
568 39
569 39
570 39
571 39
572 39
573 39
574 39
575 39
576 39
577 39
578 39
579 39
580 39
581 39
582 39
583 39
584 39
585 18
586 18
587 18
588 18
589 18
590 18
591 18
592 18
593 18
594 18
595 18
596 18
597 18
598 18
599 18
600 18
601 18
602 18
603 18
604 18
605 18
606 18
607 45
608 45
609 45
610 45
611 45
612 45
613 45
614 45
615 45
616 45
617 45
618 45
619 45
620 45
621 45
622 45
623 45
624 45
625 45
626 45
627 40
628 40
629 40
630 40
631 40
632 40
633 40
634 40
635 40
636 40
637 40
638 40
639 40
640 40
641 40
642 40
643 40
644 40
645 32
646 32
647 32
648 32
649 32
650 32
651 32
652 32
653 32
654 32
655 32
656 32
657 32
658 32
659 32
660 32
661 32
662 32
663 32
664 32
665 32
666 23
667 23
668 23
669 23
670 23
671 23
672 23
673 23
674 23
675 23
676 23
677 23
678 23
679 23
680 23
681 23
682 23
683 23
684 23
685 23
686 23
687 46
688 46
689 46
690 46
691 46
692 46
693 46
694 46
695 46
696 46
697 46
698 46
699 46
700 46
701 46
702 46
703 46
704 46
705 46
706 46
707 24
708 24
709 24
710 24
711 24
712 24
713 24
714 24
715 24
716 24
717 24
718 24
719 24
720 24
721 24
722 24
723 24
724 24
725 24
726 24
727 24
728 31
729 31
730 31
731 31
732 31
733 31
734 31
735 31
736 31
737 31
738 31
739 31
740 31
741 31
742 31
743 31
744 31
745 31
746 31
747 31
748 8
749 8
750 8
751 8
752 8
753 8
754 8
755 8
756 8
757 8
758 8
759 8
760 8
761 8
762 8
763 8
764 8
765 8
766 8
767 8
768 28
769 28
770 28
771 28
772 28
773 28
774 28
775 28
776 28
777 28
778 28
779 28
780 28
781 28
782 28
783 28
784 28
785 28
786 28
787 28
788 28
789 26
790 26
791 26
792 26
793 26
794 26
795 26
796 26
797 26
798 26
799 26
800 26
801 26
802 26
803 26
804 26
805 26
806 26
807 26
808 26
809 26
810 26
811 53
812 53
813 53
814 53
815 53
816 53
817 53
818 53
819 53
820 53
821 53
822 53
823 53
824 53
825 53
826 53
827 53
828 53
829 53
830 53
831 30
832 30
833 30
834 30
835 30
836 30
837 30
838 30
839 30
840 30
841 30
842 30
843 30
844 30
845 30
846 30
847 30
848 30
849 30
850 30
851 30
852 10
853 10
854 10
855 10
856 10
857 10
858 10
859 10
860 10
861 10
862 10
863 10
864 10
865 10
866 10
867 10
868 10
869 10
870 10
871 10
872 10
873 36
874 36
875 36
876 36
877 36
878 36
879 36
880 36
881 36
882 36
883 36
884 36
885 36
886 36
887 36
888 36
889 36
890 36
891 36
892 36
893 36
894 2
895 2
896 2
897 2
898 2
899 2
900 2
901 2
902 2
903 2
904 2
905 2
906 2
907 2
908 2
909 2
910 2
911 2
912 2
913 2
914 2
915 2
916 50
917 50
918 50
919 50
920 50
921 50
922 50
923 50
924 50
925 50
926 50
927 50
928 50
929 50
930 50
931 50
932 50
933 50
934 50
935 50
936 48
937 48
938 48
939 48
940 48
941 48
942 48
943 48
944 48
945 48
946 48
947 48
948 48
949 48
950 48
951 48
952 48
953 48
954 48
955 48
956 48
957 49
958 49
959 49
960 49
961 49
962 49
963 49
964 49
965 49
966 49
967 49
968 49
969 49
970 49
971 49
972 49
973 49
974 49
975 49
976 49
977 16
978 16
979 16
980 16
981 16
982 16
983 16
984 16
985 16
986 16
987 16
988 16
989 16
990 16
991 16
992 16
993 16
994 16
995 16
996 16
997 16
998 16
999 6
1000 6
1001 6
1002 6
1003 6
1004 6
1005 6
1006 6
1007 6
1008 6
1009 6
1010 6
1011 6
1012 6
1013 6
1014 6
1015 6
1016 6
1017 6
1018 6
1019 6
1020 27
1021 27
1022 27
1023 27
1024 27
1025 27
1026 27
1027 27
1028 27
1029 27
1030 27
1031 27
1032 27
1033 27
1034 27
1035 27
1036 27
1037 27
1038 27
1039 27
1040 27
1041 27
1042 44
1043 44
1044 44
1045 44
1046 44
1047 44
1048 44
1049 44
1050 44
1051 44
1052 44
1053 44
1054 44
1055 44
1056 44
1057 44
1058 44
1059 44
1060 44
1061 44
1062 21
1063 21
1064 21
1065 21
1066 21
1067 21
1068 21
1069 21
1070 21
1071 21
1072 21
1073 21
1074 21
1075 21
1076 21
1077 21
1078 21
1079 21
1080 21
1081 21
1082 21
1083 21
1084 21
1085 21
1086 29
1087 29
1088 29
1089 29
1090 29
1091 29
1092 29
1093 29
1094 29
1095 29
1096 29
1097 29
1098 29
1099 29
1100 29
1101 29
1102 29
1103 29
1104 29
1105 29
1106 29
1107 29
1108 43
1109 43
1110 43
1111 43
1112 43
1113 43
1114 43
1115 43
1116 43
1117 43
1118 43
1119 43
1120 43
1121 43
1122 43
1123 43
1124 43
1125 43
1126 43
1127 43
1128 43
1129 7
1130 7
1131 7
1132 7
1133 7
1134 7
1135 7
1136 7
1137 7
1138 7
1139 7
1140 7
1141 7
1142 7
1143 7
1144 7
1145 7
1146 7
1147 7
1148 7
1149 7
1150 37
1151 37
1152 37
1153 37
1154 37
1155 37
1156 37
1157 37
1158 37
1159 37
1160 37
1161 37
1162 37
1163 37
1164 37
1165 37
1166 37
1167 37
1168 37
1169 37
1170 37
1171 37
1172 9
1173 9
1174 9
1175 9
1176 9
1177 9
1178 9
1179 9
1180 9
1181 9
1182 9
1183 9
1184 9
1185 9
1186 9
1187 9
1188 9
1189 9
1190 9
1191 9
1192 9
1193 9
1194 9
1195 56
1196 56
1197 56
1198 56
1199 56
1200 56
1201 56
1202 56
1203 56
1204 56
1205 56
1206 56
1207 56
1208 56
1209 56
1210 56
1211 56
1212 56
1213 56
1214 56
1215 56
1216 56
1217 56
1218 57
1219 57
1220 57
1221 57
1222 57
1223 57
1224 57
1225 57
1226 57
1227 57
1228 57
1229 57
1230 57
1231 57
1232 57
1233 57
1234 57
1235 57
1236 57
1237 57
1238 57
1239 58
1240 58
1241 58
1242 58
1243 58
1244 58
1245 58
1246 58
1247 58
1248 58
1249 58
1250 58
1251 58
1252 58
1253 58
1254 58
1255 58
1256 58
1257 58
1258 58
1259 58
1260 59
1261 59
1262 59
1263 59
1264 59
1265 59
1266 59
1267 59
1268 59
1269 59
1270 59
1271 59
1272 59
1273 59
1274 59
1275 59
1276 59
1277 59
1278 59
1279 59
1280 59
1281 59
1282 59

In [112]:
test.groupby(["name","idm"]).sum()
test.head()

,Unnamed: 0,id,idm,name,venue,team1,team2
0,0,1216492_AS Yadav,1216492,AS Yadav,"Sheikh Zayed Stadium, Abu Dhabi",Mumbai Indians,Chennai Super Kings
1,1,1216492_AT Rayudu,1216492,AT Rayudu,"Sheikh Zayed Stadium, Abu Dhabi",Mumbai Indians,Chennai Super Kings
2,2,1216492_DL Chahar,1216492,DL Chahar,"Sheikh Zayed Stadium, Abu Dhabi",Mumbai Indians,Chennai Super Kings
3,3,1216492_F du Plessis,1216492,F du Plessis,"Sheikh Zayed Stadium, Abu Dhabi",Mumbai Indians,Chennai Super Kings
4,4,1216492_HH Pandya,1216492,HH Pandya,"Sheikh Zayed Stadium, Abu Dhabi",Mumbai Indians,Chennai Super Kings

In [113]:
test.to_csv("ipltest.csv")

In [101]:
train=pd.read_csv("ipltrain.csv")
train.head()
#train.drop(columns=["venue","team1","team2"],inplace=True)
#print(train.groupby(['name']).sum())
train["team2"].isnull().values

array([False, False, False, ..., False, False, False])

In [102]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
le=LabelEncoder() 
#ct=ColumnTransformer(transformers=[('encoder',OneHotEncoder(sparse=False),["team1","team2"])], remainder='passthrough',) 
#train=np.array(ct.fit_transform(train))
train["name"]=le.fit_transform(train["name"])
train["venue"]=le.fit_transform(train["venue"])
train["team1"]=le.fit_transform(train["team1"])
train["team2"]=le.fit_transform(train["team2"])
train.head()

   Unnamed: 0  id  name  team1  team2  venue  score
0           0   1    90     14     13     28     25
1           1   1   129     14     13     28     44
2           2   1   242     14     13     28     38
3           3   1   317     14     13     28     29
4           4   1   557     14     13     28     86

In [103]:
print(train.columns)
print(train.head())

Index(['Unnamed: 0', 'id', 'name', 'team1', 'team2', 'venue', 'score'], dtype='object')
   Unnamed: 0  id  name  team1  team2  venue  score
0           0   1    90     14     13     28     25
1           1   1   129     14     13     28     44
2           2   1   242     14     13     28     38
3           3   1   317     14     13     28     29
4           4   1   557     14     13     28     86

In [104]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
xtrain=train[["name","team1","team2","venue"]].copy()
trainy=train[["score"]].copy()
X_train, X_test, y_train, y_test = train_test_split(xtrain, trainy, test_size = 0.2, random_state = 0)
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [106]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators = 100, random_state = 42)
rf.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [110]:
from sklearn.metrics import mean_squared_error
preds = rf.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test, preds))
print("RMSE: %f" % (rmse))
print(preds,y_test)

RMSE: 32.461425
[33.95519048 21.878      32.82933333 ... 33.7825     19.24802381
 18.96333333]        score
2445      50
8400      14
5570       5
13605     50
10087      0
...      ...
10914      2
2339      -2
12847     48
125       21
15074      0

[3184 rows x 1 columns]

In [115]:
test=pd.read_csv("ipltest.csv")
test.head()

,Unnamed: 0,Unnamed: 0.1,id,idm,name,venue,team1,team2
0,0,0,1216492_AS Yadav,1216492,AS Yadav,"Sheikh Zayed Stadium, Abu Dhabi",Mumbai Indians,Chennai Super Kings
1,1,1,1216492_AT Rayudu,1216492,AT Rayudu,"Sheikh Zayed Stadium, Abu Dhabi",Mumbai Indians,Chennai Super Kings
2,2,2,1216492_DL Chahar,1216492,DL Chahar,"Sheikh Zayed Stadium, Abu Dhabi",Mumbai Indians,Chennai Super Kings
3,3,3,1216492_F du Plessis,1216492,F du Plessis,"Sheikh Zayed Stadium, Abu Dhabi",Mumbai Indians,Chennai Super Kings
4,4,4,1216492_HH Pandya,1216492,HH Pandya,"Sheikh Zayed Stadium, Abu Dhabi",Mumbai Indians,Chennai Super Kings

In [128]:
for i in range(len(test)):
    if type(test["name"][i]) is float:
        test["name"][i]="Nan"

In [129]:
print(test["id"][44])
print(test["name"][455])
print(test["name"][1194])

1216493_nan
Nan
Nan

In [132]:
test["name"]=le.fit_transform(test["name"])
test["venue"]=le.fit_transform(test["venue"])
test["team1"]=le.fit_transform(test["team1"])
test["team2"]=le.fit_transform(test["team2"])
testf=test[["name","venue","team1","team2"]].copy()
testf=sc.fit_transform(testf)
print(testf)

[[-1.57027882  1.19571271  0.2505009  -1.58163426]
 [-1.5483643   1.19571271  0.2505009  -1.58163426]
 [-1.08815934  1.19571271  0.2505009  -1.58163426]
 ...
 [ 1.21286544 -1.03895504 -1.05420543  0.15945262]
 [ 1.23477996 -1.03895504 -1.05420543  0.15945262]
 [ 1.49775422 -1.03895504 -1.05420543  0.15945262]]

In [134]:
predfinal = rf.predict(testf)

In [135]:
print(predfinal)

[66.12       28.60666667 62.1        ... 26.31       20.28
 26.05183333]

In [140]:
sub=pd.read_csv("sample_submission.csv")
subf=pd.DataFrame()
subf["Id"]=sub["Id"]

In [144]:
subf["Total Points"]=predfinal
subf.head()

                     Id  Total Points
0      1216492_AS Yadav     66.120000
1     1216492_AT Rayudu     28.606667
2     1216492_DL Chahar     62.100000
3  1216492_F du Plessis     27.970000
4     1216492_HH Pandya     35.911667

In [147]:
subf.to_csv("submit.csv",index=False)

In [148]:
subf.reset_index()
subf.head()

                     Id  Total Points
0      1216492_AS Yadav     66.120000
1     1216492_AT Rayudu     28.606667
2     1216492_DL Chahar     62.100000
3  1216492_F du Plessis     27.970000
4     1216492_HH Pandya     35.911667