In [15]:
import pandas as pd 
import numpy as np

In [17]:
df=pd.read_csv("Training.csv")
print(df.head(-5))

                         Id  Runs  Boundaries  Six  Fifty  Hundred  Duck  \
0            1_Bipul Sharma     0           0    0      0        0     0
1                1_DJ Hooda    16           1    1      0        0     0
2               1_KM Jadhav    31           5    1      0        0     0
3           1_Mandeep Singh    24           5    0      0        0     0
4            1_Yuvraj Singh    62          10    3      1        0     0
...                     ...   ...         ...  ...    ...      ...   ...
15906       11415_RD Chahar     0           0    0      0        0     1
15907       11415_JJ Bumrah     0           0    0      0        0     0
15908       11415_SR Watson    84          12    4      1        0     0
15909  11415_MJ McClenaghan     0           0    0      0        0     1
15910      11415_SL Malinga     0           0    0      0        0     0

       Batting_Points  Wickets  4W_Haul  5W_Haul  Maidens  Bowling_Points  \
0                   0        1        0        0        0              25
1                  19        1        0        0        0              25
2                  38        0        0        0        0               0
3                  29        0        0        0        0               0
4                  86        0        0        0        0               0
...               ...      ...      ...      ...      ...             ...
15906              -2        1        0        0        0              25
15907               0        2        0        0        0              50
15908             112        0        0        0        0               0
15909              -2        0        0        0        0               0
15910               0        1        0        0        0              25

       Total Points
0                25
1                44
2                38
3                29
4                86
...             ...
15906            23
15907            50
15908           112
15909            -2
15910            25

[15911 rows x 14 columns]

In [19]:
print(df.columns)

Index(['Id', 'Runs', 'Boundaries', 'Six', 'Fifty', 'Hundred', 'Duck',
       'Batting_Points', 'Wickets', '4W_Haul', '5W_Haul', 'Maidens',
       'Bowling_Points', 'Total Points'],
      dtype='object')

In [21]:
df['Id'].head(-5)

0              1_Bipul Sharma
1                  1_DJ Hooda
2                 1_KM Jadhav
3             1_Mandeep Singh
4              1_Yuvraj Singh
                 ...
15906         11415_RD Chahar
15907         11415_JJ Bumrah
15908         11415_SR Watson
15909    11415_MJ McClenaghan
15910        11415_SL Malinga
Name: Id, Length: 15911, dtype: object

In [27]:
df["Idm"]=""
df["Name"]=""

In [28]:
for i in range(len(df)):
    df["Idm"][i],df["Name"][i]=df["Id"][i].split("_")[0],df["Id"][i].split("_")[1]

In [30]:
df["Name"][78].split("_")[0]

'AM Rahane'

In [31]:
df.columns

Index(['Id', 'Runs', 'Boundaries', 'Six', 'Fifty', 'Hundred', 'Duck',
       'Batting_Points', 'Wickets', '4W_Haul', '5W_Haul', 'Maidens',
       'Bowling_Points', 'Total Points', 'Idm', 'Name'],
      dtype='object')

In [33]:
df2=pd.read_csv("Matches IPL 2008-2019.csv")
df2.head()

,match_id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,60,2008,Bangalore,18-04-2008,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,NaN
1,61,2008,Chandigarh,19-04-2008,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,0,Chennai Super Kings,33,0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,NaN
2,62,2008,Delhi,19-04-2008,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,0,Delhi Daredevils,0,9,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,NaN
3,63,2008,Mumbai,20-04-2008,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,NaN
4,64,2008,Kolkata,20-04-2008,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,0,Kolkata Knight Riders,0,5,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,NaN

In [47]:
if df2["match_id"].any()==int(df.Idm[0]):
    print(df2["team1"],df2["team2"])
else:
    print("missing")

0      Kolkata Knight Riders
1        Chennai Super Kings
2           Rajasthan Royals
3             Mumbai Indians
4            Deccan Chargers
               ...
751    Kolkata Knight Riders
752      Chennai Super Kings
753      Sunrisers Hyderabad
754           Delhi Capitals
755           Mumbai Indians
Name: team1, Length: 756, dtype: object 0      Royal Challengers Bangalore
1                  Kings XI Punjab
2                 Delhi Daredevils
3      Royal Challengers Bangalore
4            Kolkata Knight Riders
                  ...
751                 Mumbai Indians
752                 Mumbai Indians
753                 Delhi Capitals
754            Chennai Super Kings
755            Chennai Super Kings
Name: team2, Length: 756, dtype: object